@font-face {
  font-family: "urbanist";
  src: url(../styles.css/fonts/urbanist-variablefont_wght-webfont.woff2-kopi);
}

/* farver og fonte */

:root {
  --backgroundColor: #140345;
  --textColor: #fffbfb;
}

/* Generelt styling */

body {
  background-color: var(--backgroundColor);
  color: var(--textColor);
}
